
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
    height: 60px;
    color: white;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    color: white;
}

  /* BURGER ICON SIEMPRE VISIBLE */
.burger-icon {
    cursor: pointer;
    color: white;
    z-index: 1001;
}

  /* MENÚ LATERAL (CERRADO POR DEFECTO) */
.nav-menu {
    display: none;
}

  /* MENÚ ABIERTO */
.nav-menu.open {
    display: flex;
    flex-direction: column;
    background-color: #5e5858;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    padding-top: 4rem;
    z-index: 1000;
}

.nav-menu.open ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu.open li {
    padding: 15px 20px;
    border-bottom: 1px solid #777;
    color: white;
    cursor: pointer;
}

  /* OPCIONAL: TRANSICIÓN */
.nav-menu.open {
    transition: all 0.3s ease-in-out;
}

form.login{
    max-width: 400px;
    margin: 0 auto;

}
input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

.button-login{
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
    cursor: pointer;
}
.button-register{
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
    cursor: pointer;
}

.navbar-left,
.navbar-center,
.navbar-right {
    flex: 1;
    display: flex;
    align-items:center;
}


.navbar-center{
    justify-content: center;
}

.navbar-right {
    justify-content: flex-end;
    gap: 1rem;
}
